.mymeal {
    padding-top: 10px;
    display: flex;
    margin: auto auto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.myname:hover{
    color: rgba(123, 123, 123, 0.517);
    transition: 3s all;
}

/* div img {
    width: 680px;
    height: 590px;
} */

.mynavbuttons:hover {
    background-color: forestgreen;
    color: white;
    /* margin-right: 1rem; I commented this out because it moves the other ones while transforming */
    border-radius: 10px;
    transition: 2s all;
}

.imgcentering {
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
    background-color: rgb(201, 201, 209);
}

.fixmynav {
    position: fixed;
}