/* Methods of using padding property */
/* No. 1 is mentioning all the padding properties */

.my-text {
    padding-top: 0;
    padding-left: 8rem;
    padding-bottom: 3rem;
    padding-right: 4rem;
}

/* or */
/* No. 2 is using one padding property and defining the padding of all of the properties */

.my-text {
    padding: 0 4rem 3rem 8rem;
}

/* or */
/* No. 3 is using one padding property to define all 4 */

/* .my-text {
    padding: 1rem 4rem 7rem;
} */
